{% extends 'base.html' %}
{% block content %}
    <div class="container" style="margin-top:50px;">
        <div class="row">
            <div class="container">
                <h1 class="page-header">用户帐户</h1>
            </div>
            <div class="maincontent">
                <div class="tag-menu">
                    <ul id="tab" class="nav">
                        {% if type == 'create' %}
                            <li class="active"><a href="#createNew" data-toggle="tab">创建新账号</a></li>
                            <li class=""><a href="#login" data-toggle="tab">登录</a></li>
                            <li class=""><a href="{% url 'main:forget_password' %}" >忘记密码</a></li>
                        {% else %}
                            <li class=""><a href="#createNew" data-toggle="tab">创建新账号</a></li>
                            <li class="active"><a href="#login" data-toggle="tab">登录</a></li>
                            <li class=""><a href="{% url 'main:forget_password' %}" >忘记密码</a></li>
                        {% endif %}
                    </ul>
                </div>
                <div class="tab-content">
                    {% if type == 'create' %}
                        <section class="tab-pane active  first clearfix" id="createNew">
                    {% else %}
                        <section class="tab-pane first clearfix" id="createNew">
                    {% endif %}
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <form enctype="multipart/form-data" action="{% url 'main:CreatingNewUser' %}"
                                      method="post" id="frmCreateNewUser" accept-charset="UTF-8"
                                      onsubmit="return confirm();">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <input id="username" maxlength="100" name="user_name" placeholder="手机号码"
                                               type="text" class="form-control">
                                        <p id="msgUsername" class="bg-danger errorMsg" style="display: none;">hello
                                            world</p>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            {#                                            <label class="sr-only" for="sms">sms</label>#}
                                            <div class="col-xs-8">
                                                <input id="sms" name="sms" placeholder="验证码" type="text"
                                                       class="form-control">
                                            </div>
                                            <div class="col-xs-4">
                                                <button id="btnSms" type="button" class="btn btn-default  pull-right "
                                                >发送验证码
                                                </button>
                                            </div>
                                        </div>
                                        <p id="msgSms" class="bg-danger errorMsg" style="display: none;">hello
                                            world</p>

                                    </div>
                                    <div class="form-group">
                                        <input id="password_1" name="password_1" placeholder="密码" type="password"
                                               class="form-control">
                                        <p id="msgPassword" class="bg-danger errorMsg" style="display: none;">hello
                                            world</p>
                                    </div>
                                    <div class="form-group">
                                        <input id="password_2" name="password_2" placeholder="密码" type="password"
                                               class="form-control">
                                    </div>

                                    <div style="text-align: center;">

                                        <button type="submit" class="btn btn-primary  ">
                                            确定
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    </section>
                    {% if type == 'login' %}
                        <section class="tab-pane active clearfix" id="login">
                    {% else %}
                        <section class="tab-pane clearfix" id="login">
                    {% endif %}
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <form enctype="multipart/form-data" action="{% url 'main:logining' %}?next={{ next }}"
                                      method="post" id="frmLogin" accept-charset="UTF-8">
                                    {% csrf_token %}
                                    {% for field in frmLogin %}
                                        <div class="form-group">
                                            {{ field }}
                                            {% if field.errors %}
                                                {% for error in field.errors %}
                                                    <p class="bg-danger"
                                                       style="margin: 10px 0px 10px 0px ;padding: 10px">{{ error }}</p>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    {% endfor %}

                                    <button type="submit" class="btn btn-primary pull-right">确定</button>
                                </form>
                            </div>
                        </div>
                    </div>

                    </section>


                </div>
            </div>
        </div>
    </div>
{% endblock %}